@charset "utf-8";     
/* CSS Document */
/*PAURAV SURENDRA G01003778*/
body {
	background-color:#CCC;
}

.header {
	margin-left:10%;
	margin-right:10%;
	background-color:#046A38;
	font: Verdana, Geneva, sans-serif;
	font-size:24px;
	color:#FFF;
	text-shadow:#CCC 1px 2px;
}

h1	{
	color:#009;
}

.content {
	margin-left:10%;
	margin-right:10%;
	font-size:16px;
	color:#046A38;
	
}

.formTable {
	-webkit-column-count:3;
	column-count:3;
	-webkit-column-gap:80px;
	column-gap:100px;
	-webkit-column-rule:1px outset black;
	column-rule:1px outset black;
}

.logo {
	position:relative;
	float:right;
}

.field{
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serife;
	font-weight: 800;
	alignment-adjust:central;
}

input, select, textarea {
	background-color:#EEE;